# IntelliJ IDEA project files
.idea/*
# macOS specific files
.DS_Store

# Certificates
*.pem

# Compiled output
/out/
/build/
/target/

# Dependency-related files
*.iml
*.ipr
*.iws

# Annotation processing
/generated